<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="geoPunt4Arcgis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <geoPunt4Arcgis.Properties.Settings>
            <setting name="Timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ProxyUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
        </geoPunt4Arcgis.Properties.Settings>
        <zoekToolCrab.Properties.Settings>
            <setting name="Timeout" serializeAs="String">
                <value>5000</value>
            </setting>
        </zoekToolCrab.Properties.Settings>
    </userSettings>
</configuration>